.App {
  display: flex;
  min-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 20rem);
}

.goals-panel {
  display: flex;
  flex-direction: column;
  padding-left: 8.5rem;
  padding-right: 8.6rem;
}

.goals-panel button {
  all: unset;
  box-sizing: border-box;
  align-self: flex-end;
  background-color: #535EE6;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px 60px;
  margin-bottom: 40px;
  width: 22rem;
  cursor: pointer;
}