.goal {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 4px 18px 7px 20px;
    min-height: 11.1rem;
    margin-bottom: 15px;
}

.background-finished {
    background-color: #E9FFE9;
}

.background-deleted {
    background-color: #ECECEC;
}

.goal-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-info h1 {
    margin-bottom: 0.5rem;
    font-size: 24px;
    line-height: 33px;
}

.goal-info p {
    font-size: 1.1rem;
    width: 48rem;
    height: 3rem;
    margin-bottom: 14px;
    color: #000000;
}

.category {
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #FFF;
    background-color: #F55673;
    border-radius: 5px;
    padding: 3.5px 7px 4.67px 7px;
}

.goal-actions {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 16px;
}

.goal-buttons {
    display: flex;
    align-self: flex-end;
    gap: 9px;
}

.goal-buttons img {
    cursor: pointer;
}

.added-in {
    font-size: 9px;
    font-style: italic;
    color: #444444;
}